/**
 * Place your custom styles here.
 */

 /*NAVBAR*/

/*#navbar {
	background: rgba(0,0,0,0.0); important!
}

ul.menu.nav.navbar-nav > a {
	float: right;
	background: rgba(0,0,0,0.0); important!
	color: #000; important!
}*/



